:root {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  max-width: 80ch;
  margin: 5rem auto 5rem;
  font-size: 1rem;
  background-color: #242840;
  color: #9598AC;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
  color: #FCF9F3;
}

h1:first-of-type {
  text-align: center;
  margin: 20px;
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 40px;
}

h4 {
  font-weight: bold;
  margin-top: 0px;
}

.text-box {
  color: #9598AC;
  margin-top: 5rem;
  padding: 1rem;
  border: 1px solid black;
  box-shadow: 20px 20px 20px grey;
  background: linear-gradient(45deg, #17192A, #151B42) ;
}  

.date {
  white-space: nowrap;
}  

.italic {
  font-style: italic;
}

td {
  padding: 0 20px 0 20px;
  vertical-align: top;
}

a {
  color: #BE9F4D;
}

a:hover {
  color: #ff0000;
}

a:visited {
  color: #ff3333;
}

.thumbnail {
  white-space: nowrap;
  float: none;
  margin: 1rem auto;
  width:45px;
  height: 45px;
  border: none;
}