:root {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  max-width: 80ch;
  margin: 5rem auto 5rem;
  font-size: 1rem;
  background-color: #FCF9F3;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
  color: #1F2451;
}

h1:first-of-type {
  text-align: center;
  margin: 20px;
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 40px;
}

h4 {
  font-weight: bold;
  margin-top: 0px;
}

.text-box {
  color: #FCF9F3;
  margin-top: 5rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10%;
  box-shadow: 20px 20px 10px grey;
  background: linear-gradient(45deg, #4E77AE, #A0C0F6) ;
}  

#contact-details {
  text-align: center;
  margin: auto;
  color: #1F2451;
}  


.date {
  white-space: nowrap;
}  

.italic {
  font-style: italic;
}

td {
  padding: 0 20px 0 20px;
  vertical-align: top;
}

a {
  color: #BE9F4D;
}

a:hover {
  color: #ff0000;
}

a:visited {
  color: #ff3333;
}